<div class="panel-body">
  <h2>Files:</h2>
  <div>
  <label>Uses <a href="https://www.box.com" target="_blank">BOX.com</a> api to store files in a central Box account.  Syncs in realtime across clients</label>
  <div class="form-group">
    <div class="btn btn-primary" ng-file-select ng-model="files" ng-multiple="false" ng-disabled="!LoggedIn()">Upload File</div>
  </div>
  <p ng-if="!LoggedIn()">You must <a href="/login">login</a> to upload files.</p>
</div>
  <hr>

    <ul class="timeline">
      <!-- <li ng-repeat="item in items"><box-file doc="item"></box-file></li> -->
        <li ng-repeat="item in items | orderBy: '-id'" ng-class="$odd ? 'timeline-inverted' : ''">
            <div class="timeline-badge"><i class="fa fa-file"></i>
            </div>
            <div class="timeline-panel">
              <div class="pull-right btn-group">
                <button type="button" class="pull-right btn btn-primary btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-gear"></i>  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="downloadDocument(item)">Download</a>
                  </li>
                  <li><a href="#" ng-click="deleteDocument(item)">Delete</a>
                  </li>
                </ul>
              </div>
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.name}}</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> <span am-time-ago="-1""></span></small>
                  </p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
